.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin-top: 20px;
}

.nav-bar {
  max-width: 1140px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-bar__logo {
  max-width: 200px;
  height: auto;
}

.nav-bar__right-side {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-bar__pages-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.language-container {
  position: relative;
}

.lang-switch {
  width: 84px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.content__lang {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 20px;
  overflow: hidden;
}

.slider div {
  height: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;

  font-family: Montserrat, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.slider div:last-child {
  margin-bottom: 0;
}

.slide__text--1 {
  animation: slide 7s ease-in-out infinite alternate;
}

@keyframes slide {
  0% {
    margin-top: -80px;
  }
  5% {
    margin-top: -80px;
  }
  33% {
    margin-top: -80px;
  }
  38% {
    margin-top: -40px;
  }
  66% {
    margin-top: -40px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

.lang-wrapper {
  position: absolute;
  top: 9%;
  left: 2%;
}

.language-menu {
  position: absolute;
  top: 100%;
  left: 20%;
  transform: translateX(-50%);

  display: inline-flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  border-radius: 5px;
  background: rgba(255, 255, 255, 0.35);
}

.language-menu p {
  color: #fff;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.selected {
  font-weight: 600;
}

.dot-grid {
  width: 30px;
  height: 30px;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  cursor: pointer;
  z-index: 1002;
}
.dot {
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  transition: 0.3s ease;
}

.dot-grid.open .dot-1 {
  transform: translate(5px, 5px) rotate(45deg);
  opacity: 1;
}
.dot-grid.open .dot-3 {
  transform: translate(5px, -5px) rotate(-45deg);
  opacity: 1;
}
.dot-grid.open .dot-5 {
  transform: translate(-5px, 5px) rotate(-45deg);
  opacity: 1;
}
.dot-grid.open .dot-7 {
  transform: translate(-5px, -5px) rotate(45deg);
  opacity: 1;
}

.display-none {
  display: none;
}

.nav-bar__logo_mobile {
  width: 100%;
  max-width: 100px;
  height: 100%;
  max-height: 50px;
}

@media (max-width: 768px) {
  .dot-grid {
    display: grid;
  }
  .nav-bar__right-side {
    position: absolute;
    top: 0;
    right: 20px;
    background: #1a1a1a;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 20px;
    display: none;
    border-radius: 10px;
  }

  .nav-bar__right-side.active {
    display: flex;
  }
}

@media (max-width: 850px) {
  .nav-bar__pages-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .nav-bar__page {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .nav-bar__right-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(1, 19, 41, 1);
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
  }

  .nav-bar__right-side.active {
    display: flex;
  }

  .nav-bar__pages-container {
    flex-direction: column;
    gap: 20px;
  }

  .language-menu {
    position: absolute;
    transform: none;
    margin-top: 10px;
  }
}
