.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin-top: 20px;
}

.nav-bar {
  max-width: 1140px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-bar__logo {
  max-width: 200px;
  height: auto;
}

.nav-bar__right-side {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-bar__pages-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.language-container {
  position: relative;
}

.lang-switch {
  width: 84px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.content__lang {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 20px;
  overflow: hidden;
}

.slider div {
  height: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;

  font-family: Montserrat, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.slider div:last-child {
  margin-bottom: 0;
}

.slide__text--1 {
  animation: slide 7s ease-in-out infinite alternate;
}

@keyframes slide {
  0% {
    margin-top: -80px;
  }
  5% {
    margin-top: -80px;
  }
  33% {
    margin-top: -80px;
  }
  38% {
    margin-top: -40px;
  }
  66% {
    margin-top: -40px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

.language-menu {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translateX(-50%);

  display: inline-flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  border-radius: 5px;
  background: rgba(255, 255, 255, 0.35);
}

.language-menu p {
  color: #fff;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.selected {
  font-weight: 600;
}
